@mixin transition($t) {
	transition: $t;
	-o-transition: $t;
	-moz-transition: $t;
	-webkit-transition: $t;
}
.header {
	text-align: center;
	font-size: 48px;
	padding: 30px;
	font-weight: 100;
	color: mediumaquamarine;
}
.main-body {
	margin-top: 30px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

$card-height: 100px;
$card-width: 350px;

.card {
	width: $card-width;
	height: $card-height;
	margin-bottom: 20px;
	cursor: pointer;
	overflow: hidden;
	@include transition(all 1s ease);	
}

.card-on { height: $card-height * 5; }

a { text-decoration: none; }
.bold { font-weight: 600; }
.type {
	position: absolute;
    right: 10px;    
    color: #fff;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    &.low { background: mediumaquamarine; }
    &.full { background: black; }
}
.mt-10 { margin-top: 10px; }